.container {
    margin-left: 13%;
    padding: 1.5%;

    .nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5%;

        a {
            text-decoration: none;
            font-size: 1.5rem;

            &:hover{
                color: #8db1ea;
            }

            &.active{
                font-size: 1.6rem;
                font-weight: 500;
                color: #dcecff;
            }
        }
    }

    .content{
        padding: 2%;
    }
}