.container {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

    .form {
        width: 25%;
        max-height: 80vh;
        padding: 2% 2.5%;

        background: linear-gradient(164.49deg, rgba(39, 39, 41, 0.8) 6.22%, rgba(39, 39, 41, 0.496) 96.72%);
        box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(40px);
        border-radius: 30px;
    }

    .topContent {
        display: flex;
        align-items: center;
        justify-content: right;
        gap: 10%;

        p {
            font-size: 0.8rem;
        }
    }

    .bodyContent {
        margin-top: 15%;
        display: flex;
        flex-direction: column;

        .topic {
            font-size: 2rem;
        }

        input {
            margin-bottom: 3vh;
            margin-top: 1vh;
        }

        div {
            text-align: right;

            a {
                font-size: 0.8rem;
            }
        }
    }

    .bottomContent {
        margin-top: 15%;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: space-between;

        label {
            display: flex;
            font-size: 0.8rem;
        }
    }

    .errorMessage{
        padding-top: 5%;
        height: 2vh;
        font-size: 1rem;
        color: #e00425;
        text-align: center;
    }
}