.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vh;

    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

    .form {
        width: 45%;
        //max-height: 60vh;
        padding: 2% 2.5%;

        background: linear-gradient(164.49deg, rgba(39, 39, 41, 0.8) 6.22%, rgba(39, 39, 41, 0.496) 96.72%);
        box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(40px);
        border-radius: 30px;

        display: flex;
        flex-direction: column;

    }


    .bodyContent {
        //margin-top: 15%;
        display: flex;
        flex-direction: column;

        .topic {
            font-size: 2rem;
            margin-top: 0;
        }

        label {
            font-size: 0.8rem;
            flex: 1;
        }

        input {
            margin-bottom: 1.5vh;
            margin-top: 1vh;
        }

        div {
            //text-align: right;

            a {
                font-size: 0.8rem;
            }
        }
    }

    .bottomContent {
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: space-between;

        label {
            //display: flex;
            font-size: 0.8rem;
        }
    }

    .errorMessage {
        padding-top: 3%;
        height: 2vh;
        font-size: 1rem;
        color: #e00425;
        text-align: center;
    }

    .radios {
        display: flex;
        justify-content: space-evenly;

        label {
            display: flex;
            align-items: center;
            gap: 1vh;
        }
    }

    .tooltipP {
        position: absolute;
        padding: 2vh;
        background-color: #090C11;
        border-radius: 2vh;
        border: 1px solid white;
        top: 50%;
        left: 20%;
    }

    .tooltipC {
        position: absolute;
        padding: 2vh;
        background-color: #090C11;
        border-radius: 2vh;
        border: 1px solid white;
        top: 50%;
        right: 20%;
    }
}

.flex {
    display: flex;
    gap: 5vh;
}